@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700);

.big-text {
    font-size: 60px;
    font-weight: bold;
}
.big-text-ten {
    font-size: 100px;
}

/* EVENT STORMING
*/
.event-color {
    color: #ff8b00;
}

.command-color {
    color: #25abfe;
}

.external-system-color {
    color: violet;
}

.policy-color {
    color: purple;
}

.aggregate-color {
    color: yellow;
}

.read-model-color {
    color: green;
}

.big-text {
    font-size: 60px;
    font-weight: bold;
}
.big-text-ten {
    font-size: 100px;
}

.postit {
    line-height: 1;
    text-align:center;   
    color: black;
    font-weight: bold;  
    width:400px;    
    min-height:350px;
    max-height:350px;
    position:relative;
    border:1px solid #E8E8E8;  
    border-top:40px solid #fdfd86;
    font-size:42px;      
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
     background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
   
  .postit:after {     
     content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
   -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
        -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
       -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
           transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }



/* NAVIGATION */


ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
  }
  
  li {
    float: left;
  }
  /*
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li  a:hover{
    background-color: #111;
  }
*/

  
 


  
  .postit-menu {
    line-height: 1;
    text-align:center;   
    color: black;
    font-weight: bold;  
    width:100px;    
    min-height:100px;
    max-height:100px;
    position:relative;
    border:1px solid #E8E8E8;  
    font-size:22px;      
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
     background: orange; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, orange 82%, orange 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,orange), color-stop(82%,orange), color-stop(82%,orange), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, orange 81%,orange 82%,orange 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, orange 81%,orange 82%,orange 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, orange 81%,orange 82%,orange 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, orange 81%,orange 82%,orange 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='orange', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
   
  .postit-menu:after {     
     content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:50px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
   -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
        -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
       -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
           transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }


  .postit-menu-read-model {
    color: black;
    border:1px solid #E8E8E8;  
     background: green; /* Old browsers */
  background: -moz-linear-gradient(-45deg, green 81%, green 82%, green 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,green), color-stop(82%,green), color-stop(82%,green), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, green 81%,green 82%,green 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, green 81%,green 82%,green 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, green 81%,green 82%,green 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, green 81%,green 82%,green 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='green', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  a:hover.postit-menu {
    line-height: 1;
    text-align:center;   
    color: black;
    font-weight: bold;  
    width:100px;    
    min-height:80px;
    max-height:80px;
    position:relative;
    border:1px solid #E8E8E8;  
    font-size:22px;      
    border-bottom-right-radius: 60px 25px;
    display:inline-block;  
  }

  a:hover.postit-menu{
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.19);
  }

  .rotate-plus3 {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }

  .rotate-minus3 {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
  }